src/restunts/asm/build/*OBJ
src/restunts/asm/TASMBOX.OUT
src/restunts/asm2/build/*OBJ
src/restunts/asm2/TASMBOX.OUT
src/restunts/asmorig/build/*OBJ
src/restunts/asmorig/TASMBOX.OUT
src/restunts/*/tasm.dosbox.conf
src/restunts/c/build/dos/*obj
src/restunts/c2/build/dos/*obj
src/restunts/dos/*EXE
src/restunts/dos/*MAP
src/restunts/dos/build/original/*obj
src/restunts/dos/build/ported/*obj
src/restunts/dos/build/sight/*obj
src/restunts/repldump/*EXE
src/restunts/repldump/*MAP
src/restunts/repldump/build/original/*obj
src/restunts/repldump/build/ported/*obj
**/stderr.txt
**/stdout.txt
stunts/REPLDUM*.EXE
stunts/RESTUNT*.EXE
stunts/*.3SH
stunts/*.BIN
stunts/*.BNI
stunts/*.HIG
stunts/*.P3S
stunts/*.3SH
stunts/*.PVS
stunts/*.RES
stunts/*.RPL
stunts/*.TRK
stunts/*.TXT
stunts/*.VSH
stunts/*.3sh
stunts/*.bni
stunts/*.hig
stunts/*.res
stunts/*.rpl
stunts/*.trk
stunts/*.txt
stunts/*.vsh
