src/restunts/asm/build/*OBJ
src/restunts/asm/TASMBOX.OUT
src/restunts/asmorig/build/*OBJ
src/restunts/asmorig/TASMBOX.OUT
src/restunts/c/build/dos/*obj
src/restunts/dos/*EXE
src/restunts/dos/*MAP
src/restunts/dos/build/original/*obj
src/restunts/dos/build/ported/*obj
src/restunts/repldump/*EXE
src/restunts/repldump/*MAP
src/restunts/repldump/build/original/*obj
src/restunts/repldump/build/ported/*obj
**/stderr.txt
**/stdout.txt
stunts/REPLDUMO*.EXE
stunts/REPLDUMP*.EXE
stunts/RESTUNTO*.EXE
stunts/RESTUNTS*.EXE
stunts/*.BIN
stunts/*.BNI
stunts/*.HIG
stunts/*.P3S
stunts/*.3SH
stunts/*.PVS
stunts/*.RES
stunts/*.RPL
stunts/*.TRK
stunts/*.VSH
stunts/*.bni
stunts/*.hig
stunts/*.res
stunts/*.rpl
stunts/*.trk
